.pokemon-card {
  font-size: 16px;
  border: 1px solid grey;
  background: rgb(5, 24, 65);
  color: white;
  width: 10em;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  margin: 0.3em;
}

.pokemon-card * {
  margin: 0;
}

.pokemon-card__div {
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  text-align: center;
}

.pokemon-card__image {
  height: 70%;
  width: auto;
}

.pokemon-card__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.2em 0 0.2em 0;
}

.pokemon-card__type {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.pokemon-card__type + .pokemon-card__type {
  margin-left: 0.4em;
}

.pokemon-card__base {
  font-size: 0.8rem;
}
